$theme-colors: (
  'primary': rgb(0, 155, 209),
  'danger': #ff4136,
);

.slide-title,
.react-quiz-container h2 {
  font-size: 24px;
  color: #fa4e10;
  font-weight: bold;
}

@import '../node_modules/bootstrap/scss/bootstrap';
